<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>AuthWPbyDB</name>
        <type>plugin</type>
        <creationDate>2014-04-01</creationDate>
        <lastUpdate>2021-06-21</lastUpdate>
        <author>Denis Chenu</author>
        <authorUrl>https://gitlab.com/SondagesPro/Authentification/AuthWPbyDB/-/graphs/master</authorUrl>
        <supportUrl>https://extensions.sondages.pro/AuthWPbyDB</supportUrl>
        <version>1.2.1</version>
        <license>GNU General Public License version 3 or later</license>
        <description><![CDATA[Authentification via WordPress Plugin for LimeSurvey]]></description>
    </metadata>

    <compatibility>
        <version>2.6</version>
        <version>2.73</version>
        <version>3</version>
        <version>4.0</version>
        <version>5.0</version>
    </compatibility>

    <updaters disabled="disabled">
    </updaters>
</config>
